.new-task__input {
    width: 100%;
    margin: 0;
    font-size: 2.5rem;
    border: 0;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 0;
}

.new-task__input:invalid {
    border: 1px solid red;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}